{% extends "layout.html" %}

{% block content %}
 
    <div class = "div-grid">
        {% for post in posts.items %}
            <article class="media-content-section">
                <div class= "media-body">
                    <div class = "post-picture-div">
                        <img class = "post-picture" src = " {{ url_for('static', filename = 'profile-pics/' + post.image_file_post) }}">
                        <div class="article-metadata">
                            <img class = "rounded-circle article-img" src = "{{ url_for('static', filename='profile-pics/' + post.author.image_file) }}">
                            <div class = "post-description">
                                <a class="post-author" href="#">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime("%m-%d-%Y") }}</small>
                            </div>
                        </div>
                        <h2><a class="article-title" href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class = "btn btn-info mb-4" href = "{{ url_for('home', page = page_num) }}"> {{ page_num }}</a>
                {% else %}
                    <a class = "btn btn-outline-info mb-4" href = "{{ url_for('home', page = page_num) }}"> {{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
                ...
        {% endfor %}
    
{% endblock content %}

