{% extends "layout.html" %}

{% block content %}
    <div class = "div-grid">
        <article class="media-content-section">            
            <div class= "media-body">
                <div class="article-metadata">
                    <img class = "rounded-circle article-img" src = "{{ url_for('static', filename='profile-pics/' + post.author.image_file) }}">
                    <div class = "post-description">
                        <a class="post-author" href="#">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime("%m-%d-%Y") }}</small>
                    </div>
                    {% if post.author == current_user %}
                        <a class = "settings-button" href = "{{ url_for('update_post', post_id = post.id) }}">
                            ⚙️
                        </a>
                    {% endif %}
                </div>
                <h2 class = "article-title">{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    </div>
{% endblock content %}